.footer {
    background-color: #2db2ea;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.84);
    border-top: 1px solid #ddd;
    margin-top: auto;
}
